@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(51, 51, 51, 0.2666666667);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(85, 85, 85, 0.3333333333);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2666666667) inset;
}

main {
  flex: 1 1 auto;
}

.header {
  z-index: 100;
  width: 100%;
  min-height: 90px;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}
.header__logo {
  z-index: 101;
  transition: all 0.5s ease-in-out;
}
.header__logo:hover {
  transform: scale(1.4);
}
@media screen and (max-width: 768px) {
  .header__logo:hover {
    transform: scale(1.1);
  }
}
.header__navigation {
  display: flex;
  flex-direction: row;
  height: 1em;
  line-height: 1em;
}
.header .navigation__list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header .navigation__item a {
  transition: all 0.3s ease-in-out;
}
.header .navigation__item a:hover {
  text-decoration: none;
  color: inherit;
  text-shadow: 0px 0px 5px #aaa;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .header .navigation__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 1em;
    cursor: pointer;
  }
  .header .navigation__icon::before, .header .navigation__icon::after {
    content: "";
  }
  .header .navigation__icon span {
    top: 45%;
  }
  .header .navigation__icon::before {
    top: 0;
    background-color: #fff;
    height: 2px;
  }
  .header .navigation__icon::after {
    bottom: 0;
    background-color: #fff;
    height: 2px;
  }
  .header .navigation__icon span, .header .navigation__icon::before, .header .navigation__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header .navigation__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header .navigation__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .navigation__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header .navigation__body {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;
    transform: translate(-100%, 0px);
    background-color: rgba(0, 0, 0, 0.7333333333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  .header .navigation__body .navigation__list {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 30px;
  }
  .header .navigation__body .navigation__item a {
    font-size: 28px;
  }
  .header .navigation__body .navigation__item a:hover {
    font-size: 2em;
  }
  .header .navigation__body._active {
    transform: translate(0%, 0px);
  }
}

.footer {
  width: 100%;
  min-height: 48px;
  margin-top: 50px;
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .footer .container {
    align-items: center;
  }
}
.footer__social {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.footer__social .social__item {
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social .social__item:hover {
  transform: scale(1.4);
}
.footer__social .social__item:hover.facebook {
  box-shadow: 0px 0px 5px rgb(0, 121, 235), 0px 0px 10px rgb(0, 121, 235) inset;
}
.footer__social .social__item:hover.twitter {
  box-shadow: 0px 0px 5px rgb(0, 188, 235), 0px 0px 10px rgb(0, 188, 235) inset;
}
.footer__social .social__item:hover.instagram {
  box-shadow: 0px 0px 5px rgb(214, 19, 217), 0px 0px 10px rgb(214, 19, 217) inset;
}
.footer__social .social__item:hover.youtube {
  box-shadow: 0px 0px 5px rgb(229, 7, 7), 0px 0px 10px rgb(229, 7, 7) inset;
}
.footer__slider {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__slider-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer__slider-item.choicen {
  width: 10px;
  height: 10px;
}
.footer__slider-item:hover {
  background-color: #ff453a;
  box-shadow: 0px 0px 5px #fff;
}
.footer__slider-item:hover.choicen {
  background-color: #fff;
  box-shadow: 0px 0px 0px #fff;
}
@media screen and (max-width: 768px) {
  .footer__slider {
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.main .container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__text {
  font-size: 52px;
}
.main__button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #fff;
  background: linear-gradient(90deg, #cc2b5e, #753a88);
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.main__button:hover {
  background: linear-gradient(135deg, #cc2b5e, #753a88);
  box-shadow: 0px 0px 10px #fff;
  transform: scale(1.2);
}
.main__car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main__car .car__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  position: relative;
  max-width: 200px;
}
.main__car .car__info:first-child {
  align-items: flex-start;
}
.main__car .car__info:last-child {
  align-items: flex-end;
  flex: 1 0 130px;
}
.main__car .car__heading {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #ff453a;
  font-style: italic;
}
.main__car .car__value {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.main__car .car__value-sub {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.main__car .car__image {
  flex: 1 auto;
}
@media screen and (max-width: 991px) {
  .main__text {
    font-size: 42px;
  }
  .main__car .car__info {
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(37, 37, 37, 0.4666666667);
  }
  .main__car .car__info:first-child {
    left: 0;
  }
  .main__car .car__info:last-child {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .main__text {
    font-size: 30px;
    text-align: center;
  }
  .main__button {
    margin-top: 15px;
    width: 120px;
    height: 40px;
  }
  .main__car {
    margin: 30px 0 50px 0;
  }
  .main__car .car__info {
    top: 100%;
  }
  .main__car .car__heading {
    font-size: 18px;
  }
  .main__car .car__value {
    font-size: 14px;
  }
  .main__car .car__value-sub {
    font-size: 12px;
  }
}