.header {
	z-index: 100;
	width: 100%;
	min-height: 90px;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
	}
	&__logo {
		z-index: 101;
		transition: all 0.5s ease-in-out;
		&:hover {
			transform: scale(1.4);
		}
		@media screen and (max-width: $tablet) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__navigation {
		display: flex;
		flex-direction: row;
		height: 1em;
		line-height: 1em;
	}
	.navigation {
		&__list {
			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			column-gap: 30px;
		}
		&__item {
			a {
				transition: all 0.3s ease-in-out;
				&:hover {
					text-decoration: none;
					color: inherit;
					text-shadow: 0px 0px 5px #aaa;
					font-size: 1.2em;
				}
			}
		}
		@media screen and (max-width: $tablet) {
			&__icon {
				z-index: 5;
				display: block;
				position: relative;
				width: 30px;
				height: 1em;
				cursor: pointer;
				&::before,
				&::after {
					content: "";
				}
				span {
					top: 45%;
				}
				&::before {
					top: 0;
					background-color: $white;
					height: 2px;
				}
				&::after {
					bottom: 0;
					background-color: $white;
					height: 2px;
				}
				& span,
				&::before,
				&::after {
					left: 0;
					position: absolute;
					height: 10%;
					width: 100%;
					border-radius: 2px;
					transition: all 0.3s ease 0s;
					background-color: $white;
				}
				&._active {
					span {
						transform: scale(0) translate(0px, -50%);
					}
					&::before {
						top: 50%;
						transform: rotate(-45deg) translate(0px, -50%);
					}
					&::after {
						bottom: 50%;
						transform: rotate(45deg) translate(0px, 50%);
					}
				}
			}
			&__body {
				position: fixed;
				top: 0;
				left: 0%;
				width: 100%;
				height: 100%;
				transition: all 0.5s ease-in;
				transform: translate(-100%, 0px);
				background-color: #000b;
				backdrop-filter: blur(3px);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				overflow: auto;
				.navigation {
					&__list {
						flex-direction: column;
						column-gap: 0;
						row-gap: 30px;
					}
					&__item {
						a {
							font-size: 28px;
							&:hover {
								font-size: 2em;
							}
						}
					}
				}
				&._active {
					transform: translate(0%, 0px);
				}
			}
		}
	}
}
